<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi"
     xmlns:util="http://schemas.microsoft.com/wix/UtilExtension"
     xmlns:bal="http://schemas.microsoft.com/wix/BalExtension">
	<Bundle
    Name="StatsDirect"
    Version="3.0.119.0"
    Manufacturer="StatsDirect Limited"
    UpgradeCode="e52fa35e-33b1-45d2-b004-cfc5cc7c7ef5"
    DisableModify="yes"
    Copyright="Copyright © 1995-2014 StatsDirect Limited. All rights reserved."
    HelpUrl="http://www.statsdirect.com/Support.aspx"
    UpdateUrl="http://www.statsdirect.com/Update.aspx"
    IconSourceFile="sd3.ico">
    <BootstrapperApplicationRef Id="WixStandardBootstrapperApplication.RtfLicense">
      <bal:WixStandardBootstrapperApplication ThemeFile="Theme.xml"
            LicenseFile="Licence.rtf"
            />
      <Payload SourceFile="dlgbmp-sd.png" />
      <Payload SourceFile="bannrbmp-sd.png" />
      <Payload SourceFile="greybar.png" />
    </BootstrapperApplicationRef>
		<Chain>
      <PackageGroupRef Id="Netfx4Full"/>
      <MsiPackage Compressed="yes" SourceFile="$(var.SDInstaller-x86.TargetPath)" Vital="yes" DisplayInternalUI="no" InstallCondition="NOT VersionNT64" ForcePerMachine="yes" />
      <MsiPackage Compressed="yes" SourceFile="$(var.SDInstaller-x64.TargetPath)" Vital="yes" DisplayInternalUI="no" InstallCondition="VersionNT64" ForcePerMachine="yes" />
    </Chain>
	</Bundle>
  <Fragment>
    <util:RegistrySearch Root="HKLM" Key="SOFTWARE\Microsoft\Net Framework Setup\NDP\v4\Full" Value="Version" Variable="Netfx4FullVersion" />
    <util:RegistrySearch Root="HKLM" Key="SOFTWARE\Microsoft\Net Framework Setup\NDP\v4\Full" Value="Version" Variable="Netfx4x64FullVersion" Win64="yes" />

    <PackageGroup Id="Netfx4Full">
      <ExePackage Id="Netfx4Full" Cache="no" Compressed="no" PerMachine="yes" Permanent="yes" Vital="yes"
          SourceFile="dotNetFx40_Full_Setup.exe"
          DownloadUrl="http://go.microsoft.com/fwlink/?LinkId=164193"
          DetectCondition="Netfx4FullVersion AND (NOT VersionNT64 OR Netfx4x64FullVersion)" />
    </PackageGroup>
  </Fragment>
</Wix>