<Wix
  xmlns="http://wixtoolset.org/schemas/v4/wxs"
  xmlns:bal="http://wixtoolset.org/schemas/v4/wxs/bal"
  xmlns:netfx="http://wixtoolset.org/schemas/v4/wxs/netfx">
  <Bundle
    Name="StatsDirect"
    Version="!(bind.packageVersion.StatsDirectMsi)"
    Manufacturer="StatsDirect Limited"
    UpgradeCode="e52fa35e-33b1-45d2-b004-cfc5cc7c7ef5"
    DisableModify="yes"
    Copyright="Copyright ©1995-2025 StatsDirect Limited. All rights reserved."
    HelpUrl="http://www.statsdirect.com/Support.aspx"
    UpdateUrl="http://www.statsdirect.com/Update.aspx"
    IconSourceFile="statsdirect.ico"
    >
    <!-- <bal:Condition Message="User Account Control appears to be disabled on this computer. You need either to enable it or to be an administrator to install StatsDirect." Condition="Privileged" /> -->
    <BootstrapperApplication>
      <bal:WixStandardBootstrapperApplication
        LicenseFile="Licence.rtf"
        LogoFile="statsdirect.png"
        Theme="rtfLicense" />
      <Payload SourceFile="bannrbmp-sd.png" />
      <Payload SourceFile="dlgbmp-sd.png" />
      <Payload SourceFile="greybar.png" />
      <Payload SourceFile="statsdirect.png" />
    </BootstrapperApplication>
    <Chain>
      <PackageGroupRef Id="DotNetDesktopRedist" />
      <MsiPackage
        Id="StatsDirectMsi"
        Compressed="yes"
        SourceFile="StatsDirect-x64.msi"
        />
    </Chain>
  </Bundle>

  <Fragment>
    <netfx:DotNetCoreSearch RuntimeType="desktop" MajorVersion="8" Platform="x64" Variable="DOTNETDESKTOPVERSION" />
    <PackageGroup Id="DotNetDesktopRedist">
      <ExePackage
        Id="DotNetDesktop"
        DetectCondition="DOTNETDESKTOPVERSION &gt;= &quot;8.0.22&quot;"
        InstallArguments="windowsdesktop-runtime-8.0.22-win-x64.exe /install /quiet /norestart"
        RepairArguments="windowsdesktop-runtime-8.0.22-win-x64.exe /repair /quiet /norestart"
        UninstallArguments="windowsdesktop-runtime-8.0.22-win-x64.exe /uninstall /quiet /norestart">
        <ExePackagePayload
          Name="windowsdesktop-runtime-8.0.22-win-x64.exe"
          SourceFile="..\DownloadedBinaries\windowsdesktop-runtime-8.0.22-win-x64.exe"
          />
      </ExePackage>
    </PackageGroup>
  </Fragment>
</Wix>