.vs/
*/bin/
*/obj/
SDInstaller/*Fragment.wxs
packages/*/
ReleaseBuild/*.msi
ReleaseBuild/*.exe
*.csproj.user
*.bak
*.wixpdb

# gvim backups (Peter has a nasty habit of using gvim for bulk edits)
*~

# Don't store certs
*.pfx
*.pem
*.pvk
*.spc

# Ignore help index files that don't need to be released
*.chw
/Key/sign.txt
/DownloadedBinaries
