.vs/
*/bin/
*/obj/
SDInstaller/*Fragment.wxs
packages/*/
ReleaseBuild/*.msi
ReleaseBuild/*.exe

# gvim backups (Peter has a nasty habit of using gvim for bulk edits)
*~

# Don't store certs
*.pfx
*.pem
*.pvk
*.spc
/StatsDirectUI/StatsDirectUI.csproj.user
/Layout/Layout.csproj.user
