.vs/
*/bin/
*/obj/
SDInstaller/*Fragment.wxs
packages/*/
ReleaseBuild/*.msi
ReleaseBuild/*.exe
ReleaseBuild/*.wixpdb
*.csproj.user
*.bak
ReportEditor/upstream/Report/node_modules/

# gvim backups (Rachel has a nasty habit of using gvim for bulk edits)
*~

# Don't store certs
*.pfx
*.pem
*.pvk
*.spc

# Ignore help index files that don't need to be released
*.chw
/Key/sign.txt
/DownloadedBinaries/*.exe

# Build metadata left by MadCap Flare, not part of the shipped help
/StatsDirectUI/Assets/Data/*.output
/StatsDirectUI/Assets/*.log.zip
/StatsDirectUI/Assets/Help/**/*.output
/StatsDirectUI/Assets/Help/**/*.log.zip
/StatsDirectUI/Assets/Help/**/*.mclog
