<?xml version="1.0" encoding="utf-8"?>
<menu xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema" label="" xmlns="http://www.statsdirect.com/schemas/Menu.xsd">
  <sub-items>
    <menu-item label="&amp;Analysis">
      <help chm-id="1016" />
      <sub-items>
        <menu-item label="Options" operation="AnalysisOptions"/>
      </sub-items>
    </menu-item>
    <menu-item label="&amp;Graphics">
      <help chm-id="1122" />
      <sub-items>
        <menu-item label="&amp;Options..." operation="GraphicsOptions" />
      </sub-items>
    </menu-item>
  </sub-items>
</menu>
