<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Antlr4" version="4.6.6" targetFramework="net461" developmentDependency="true" />
  <package id="Antlr4.CodeGenerator" version="4.6.6" targetFramework="net461" developmentDependency="true" />
  <package id="Antlr4.Runtime" version="4.6.6" targetFramework="net461" />
  <package id="DevExpress.Data" version="19.2.7" targetFramework="net461" />
  <package id="DevExpress.Images" version="19.2.7" targetFramework="net461" />
  <package id="DevExpress.Office.Core" version="19.2.7" targetFramework="net461" />
  <package id="DevExpress.Pdf.Core" version="19.2.7" targetFramework="net461" />
  <package id="DevExpress.Printing.Core" version="19.2.7" targetFramework="net461" />
  <package id="DevExpress.RichEdit.Core" version="19.2.7" targetFramework="net461" />
  <package id="DevExpress.Sparkline.Core" version="19.2.7" targetFramework="net461" />
  <package id="DevExpress.Utils" version="19.2.7" targetFramework="net461" />
  <package id="DevExpress.Win.Grid" version="19.2.7" targetFramework="net461" />
  <package id="DevExpress.Win.Navigation" version="19.2.7" targetFramework="net461" />
  <package id="DevExpress.Win.Printing" version="19.2.7" targetFramework="net461" />
  <package id="DevExpress.Win.RichEdit" version="19.2.7" targetFramework="net461" />
  <package id="DevExpress.Win.TreeList" version="19.2.7" targetFramework="net461" />
  <package id="HtmlAgilityPack" version="1.11.24" targetFramework="net461" />
  <package id="MSTest.TestFramework" version="2.1.2" targetFramework="net461" />
  <package id="OpenMcdf" version="2.2.1.4" targetFramework="net461" />
  <package id="System.ValueTuple" version="4.5.0" targetFramework="net461" />
</packages>